#/usr/lib/systemd/user/kpacman2.service
[Unit]
Description=Pamac Krunner Daemon

[Service]
Type=dbus
BusName=net.kpacman2.service
ExecStart=/usr/lib/qt/plugins/krunner_pacman.py 
