#/usr/share/dbus-1/services/net.kpacman2.service
[D-BUS Service]
Name=net.kpacman2
Exec=/usr/lib/qt/plugins/krunner_pacman.py
SystemdService=kpacman2.service
